@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  position: relative;
}

/* Global variables */

/* Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: hsl(236, 13%, 42%)
Very dark blue: hsl(240, 100%, 5%) */

:root {
  --color-primary: hsl(35, 77%, 62%);
  --color-secondry: hsl(5, 85%, 63%);
  --text-offWhite: hsl(36, 100%, 99%);
  --text-blue: hsl(233, 8%, 79%);
  --text-dark-blue: hsl(236, 13%, 42%);
  --text-very-dark-blue: hsl(240, 100%, 5%);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html,
.disable-scroll {
  overflow-y: hidden;
}

.container {
  width: 65%;
  margin: 0 auto;
}

@media (max-width: 1224px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
}
.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.px-10 {
  padding-left: 10rem;
  padding-right: 10rem;
}

.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.my-10 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.mx-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mx-10 {
  margin-left: 10rem;
  margin-right: 10rem;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline-block;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-10 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.px-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-10 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.uppercase {
  text-transform: uppercase;
}

.active {
  transform: translateX(0px) !important;
}

#header {
  .header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .logo-area {
      flex: 1;
    }

    i {
      font-size: 2rem;
      width: 2rem;
      height: 2rem;
      display: none;
      position: absolute;
      right: 0;
      cursor: pointer;
      transition: all 0.5s ease-in;
    }

    .nav-area {
      flex: 1;

      ul {
        display: flex;
        justify-content: flex-end;

        li {
          padding-left: 2rem;

          a {
            color: var(--text-dark-blue);
            font-weight: bold;
          }
          a:hover {
            color: var(--color-primary);
          }
        }
      }
    }

    @media (max-width: 768px) {
      i {
        display: block;
      }

      .nav-area {
        position: absolute;
        top: 6.8rem;
        right: -2.5rem;
        background-color: white;
        height: calc(100vh - 6.8vh);
        width: 340px;
        transform: translateX(400px);
        transition: all 0.5s ease-in;

        ul {
          flex-direction: column;
          height: 100%;
          justify-content: flex-start;

          li {
            margin-bottom: 3rem;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

#main {
  .main-area {
    margin-top: 3rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "image image right"
      "text para right";

    .image {
      grid-area: image;

      img {
        width: 100%;
      }
    }

    .text {
      grid-area: text;
      font-size: 1.8rem;
    }

    .para {
      grid-area: para;
      color: var(--text-dark-blue);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .btn {
        width: 140px;
        padding: 0.6rem 1rem;
        border: none;
        outline: none;
        background-color: var(--color-secondry);
        color: var(--text-offWhite);
        cursor: pointer;
        margin-top: 0.5rem;
      }

      .btn:hover {
        background-color: var(--text-very-dark-blue);
      }
    }

    .right {
      grid-area: right;
      background: var(--text-very-dark-blue);
      color: white;
      padding: 2rem 1rem;

      h1 {
        color: var(--color-primary);
        margin-bottom: 1rem;
      }

      article {
        margin-bottom: 2rem;
        border-bottom: 1px solid var(--text-blue);
        padding-bottom: 1rem;

        h3 {
          margin-bottom: 0.6rem;
          cursor: pointer;
        }
        h3:hover {
          color: var(--color-primary);
        }
      }
      article:nth-of-type(3) {
        border-bottom: none;
      }
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }
}

#main {
  .article-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 5rem;

    .article {
      display: flex;

      img {
        height: 150px;
        margin-right: 0.8rem;
        border-radius: 0.5rem;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        span {
          font-size: xx-large;
          color: var(--text-dark-blue);
        }
        p {
          color: var(--text-dark-blue);
        }
      }
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }
}
